$white : rgb(255,255,255);

@mixin card-background {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 1.5rem 2rem;
}

@mixin star-after-before {
    position: absolute;
    content: "";
    display: block;
    height: 0.2rem;
    width: 0.2rem;
    background-color: $white;
    border-radius: 50%;
    transition: all 0.2s ease;
}

@mixin dots-after-before {
    position: absolute;
    content: "";
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: rgb(215, 237, 239);
    transition: all 0.4s ease;
}

main{
    width: 100%;
    margin: auto 0px;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins','Noto Sans TC','Roboto', 'Microsoft JhengHei' , '微軟正黑體' , sans-serif;
    background-color: rgb(3, 14, 32);

    // 初始版面置中 : https://esnz-reactweather.netlify.app/
    display: flex;
    min-height: 100vh;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 960px;
}

main{
    .card-header{
        margin-bottom: 1rem;

        h1{
            font-weight: bold;
            font-size: 2.2rem;
            color: rgb(47, 93, 138);
        }

        .day-night-switch{
            position: relative;
            width: 6rem;

            label{
                position: relative;
                cursor: pointer;

                input{
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    opacity: 0;

                    &:checked ~ .sun-moon{
                        background-color: #F5EC59;
                        left: calc(100% - 2.5rem);
                        transform: rotate(-25deg);
                    }

                    &:checked ~ .sun-moon .dots, &:checked ~ .sun-moon .dots::before, &:checked ~ .sun-moon .dots::after{
                        background-color: #FFFFFF;
                        border: #FFFFFF;
                    }
                    
                    &:checked ~ .sun-moon .dots{
                        height: 1rem;
                        width: 1rem;
                        top: 4px;
                        right: 25px;
                    }

                    &:checked ~ .sun-moon .dots::before{
                        height: 0.8rem;
                        width: 0.8rem;
                        top: 8px;
                        right: -3px;
                    }


                    &:checked ~ .sun-moon .dots::after{
                        height: 0.7rem;
                        width: 0.7rem;
                        top: 3px;
                        right: 10px;
                    }

                    &:checked ~ .switch-background .star1, &:checked ~ .switch-background .star2{
                        opacity: 0;
                        transform: translateY(2rem);
                    }

                    &:checked ~ .switch-background{
                        background-color: rgb(105, 199, 254);
                    }
                }

                .sun-moon{
                    position: absolute;
                    left: 0;
                    height: 2rem;
                    width: 2rem;
                    background-color: rgb(237, 252, 254);
                    border-radius: 50%;
                    z-index: 2;
                    margin: 0.3rem;
                    transition: all 0.4s ease;

                    .dots{
                        position: absolute;
                        right: 5px;
                        top: 5px;
                        border-radius: 50%;
                        height: 0.8rem;
                        width: 0.8rem;
                        background-color: rgb(215, 237, 239);
                        transition: all 0.4s ease;

                        &::before{
                            @include dots-after-before;
                            top: 10px;
                            right: 1px;
                        }

                        &::after{
                            @include dots-after-before;
                            height: 0.3rem;
                            width: 0.3rem;
                            top: 15px;
                            right: 18px;
                        }
                    }
                }

                .switch-background{
                    z-index: 1;
                    // position: absolute;
                    // top: -50%;
                    // right: 5px;
                    width: 5.5rem;
                    height: 2.5rem;
                    border-radius: 2.5rem;
                    background: rgb(17, 24, 80);
                    transition: all 0.3s;

                    .star1,.star2{
                        background-color: $white;
                        border-radius: 50%;
                        height: 0.35rem;
                        width: 0.35rem;
                        position: absolute;
                        transition: all 0.3s ease;
                    }

                    .star1{
                        top: 6px;
                        right: 23px;

                        &::before{
                            @include star-after-before;
                            top: 12px;
                            right: -15px;
                        }

                        &::after{
                            @include star-after-before;
                            top: 5px;
                            right: 18px;
                        }
                    }

                    .star2{
                        top: 28px;
                        right: 42px;

                        &::before{
                            @include star-after-before;
                            top: 4px;
                            right: -28px;
                        }

                        &::after{
                            @include star-after-before;
                            top: -7px;
                            right: -12px;
                        }
                    }
                }
            }
        }
    }

    .card-content{
        color: rgb(74, 111, 161);

        .weather-input{
            position: relative;
            
            .weather-search{
                position: absolute;
                right: 2rem;
                bottom: 1.1rem;
                cursor: pointer;
                color: rgb(74, 111, 161);
            }
        }
    
        .form-control{
            border-radius: 26px;
            height: 3.25rem;
            padding: 10px 25px;
            background-color: rgb(5, 30, 51);
            color: rgb(105, 152, 213);
            border:none;
            font-size: 1.125rem;

            &::placeholder{
                color: rgb(86, 128, 183);
                font-size: 1rem;
            }
        }

        input[type=text]:focus{
            border-color: none;
            box-shadow: none;
            outline: 0 none;
        }

        .weather-current{
            @include card-background;
            background-color: rgba(5, 30, 61, 0.75);
            margin-top: 2rem;
            display: none;

            .current-title{
                span{
                    font-weight: 500;
                    font-size: 1.125rem;
                    color: rgb(33, 99, 151);
                }

                .temp-transform {
                    position: relative;
                    height: 1.5rem; // 需要研究一下 !!
                
                    label{
                        position: relative;
                        cursor: pointer;
                
                        input{
                            position: absolute;
                            opacity: 0;
                
                            &:checked ~ .temp-unit{
                                left: 20%;
                            }

                            &:checked ~ .temp-switch{
                                left: calc(100% - 1.5rem);
                            }
                        }
                
                        .temp-unit{
                            position: absolute;
                            z-index: 1;
                            right: 20%;
                        }
                
                        .temp-background{
                            z-index: 1;
                            width: 3.8rem;
                            height: 1.5rem;
                            border-radius: 2.5rem;
                            background: rgb(69, 124, 191);
                        }
                
                        .temp-switch{
                            position: absolute;
                            background-color: rgb(139, 183, 221);
                            height: 1.25rem;
                            width: 1.25rem;
                            margin: 0.125rem;
                            border-radius: 50%;
                            left: 0;
                        }
                    }
                }
            }

            .current-content{
                .col-12{
                    margin: 2rem 0.7rem;
                }

                .weather-temp{
                    .country-city{
                        h4{
                            color: rgb(57, 107, 174);
                            font-size: 1.25rem;
                            font-weight: 400;
                            margin-bottom: 2rem;
                        }
                    }

                    .temperature{
                        font-size: 7rem;
                        color: rgb(74, 111, 161);
                        line-height: 1;
                        margin-left: 1.5rem;
                        font-weight: 200;
                    }

                    .weather{
                        span{
                            font-size: 2.2rem;;
                            color: rgb(123, 152, 178);
                            font-weight: 600;
                        }
                    }
                }

                .weather-detail{
                    svg, .text{
                        color: rgb(138, 155, 172);
                    }

                    .result{
                        color: rgb(55, 128, 192);
                    }
                    
                    .datetime{
                        font-size: 1.25rem;
                        margin-bottom: 1rem;
                        color: rgb(57, 107, 174);
                    }

                    .temp-mg{
                        margin-right: 1.2rem;
                    }
                }
            }
        }
    }

    .card-footer{
        color: rgb(47, 111, 138);

        a{
            color: rgb(47, 111, 138);
        }
    }
}

// Sun Day Model
body.bx-sun{
    background-color: rgb(181, 235, 237);
}

main .card-content{
    .form-control.bx-sun{
        background-color: $white;
        color: rgb(114, 126, 142);
    }

    .weather-current.bx-sun{
        background-color: $white;

        .current-title span{
            color: rgb(114, 126, 142);
        }
    }
}

@media (max-width:768px) {
    main .card-content .weather-current{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
